
:root {
    --primary: #ddd;
    --dark: #B34980;
    --light: #fff;
    --grey: #333;
    --shadow: 0 1px 5px rgba(104, 104, 104, .8);
}

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 10px 50px;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    background-image: url("images/logo.png");
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 200px;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.6rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
}

/* Showcase */
.promo {
    grid-area: showcase;
    min-height: 450px;
    background: url("images/torcik.jpg");
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: start;
    box-shadow: var(--shadow);
}

.promo h1 {
    font-size: 3.6rem;
    color: var(--light);
    margin: 0;
    margin-bottom: 20px;
}

.promo p {
    font-size: 1.3rem;
    color: var(--light);
    margin: 0 120px 20px 0;
}

.promo-cake-a {
    background-image: url("images/piece.jpg");
    background-size: cover;
    background-position: center;
    min-width: 250px;
    height: 100%;

}

.promo-cake-b {
    background-image: url("images/piece2.jpg");
    background-size: cover;
    background-position: center;
    min-width: 250px;
    height: 100%;

}

/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
}

.top-box .price {
    text-align: center;
    font-size: 1rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
.box h3{
    color: var(--grey);
}
/*INFO*/
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.2rem;
    color: var(--grey);
}
.info-photo{
    background-image: url("images/top.jpg");
    background-size: cover;
    background-position: center;
    min-height: 240px;
}